<link rel="stylesheet" href="/css/user/forgotPassword.css">

<main class="main-content">
    <div class="form-container">
        <h2>Forget Password</h2>
        <form id="forgotForm">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <a href="/login" class="login-link">Login</a>
            <button type="submit" class="submit-btn">Send OTP</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const form = document.getElementById("forgotForm");

  form.addEventListener("submit", async (e) => {
    e.preventDefault()

    const email = document.getElementById("email").value;

    try {
      const response = await fetch("/forgotPassword", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ email }),
      });

      const data = await response.json();

      if (!data.success) {
        Swal.fire({
          icon: "error",
          title: data.message,
          showConfirmButton: true,
          timer: 5000,
        });
      } else {
        Swal.fire({
          icon: "success",
          title: "OTP Sent!",
          timer: 1500,
          showConfirmButton: false,
        }).then(() => {
          window.location.href =data.redirectUrl;
        });
      }
    } catch (error) {
      Swal.fire({
        icon: "error",
        title: "Something went wrong",
      });
    }
  });


</script>