<link rel="stylesheet" href="/css/user/forgotPassword.css">

<main class="main-content">
    <div class="form-container">
        <h2>Forget Password</h2>
        <form id="forgotForm">
            <div class="form-group">
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div id="error3" class="error-message"></div>
      </div>

      <div class="form-group">
        <input type="password" name="Confirm_password" placeholder="Confirm-password" id="Confirm_password" required>
        <div id="error4" class="error-message"></div>
      </div>
            <button type="submit" class="submit-btn">Change Password</button>
        </form>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('Confirm_password');
    const forgotForm = document.getElementById('forgotForm');
    const passwordError = document.getElementById('error3');
    const confirmPasswordError = document.getElementById('error4');


    function validatePassword() {
        let isValid = true;
        const passwordValue = passwordInput.value;
        const confirmPasswordValue = confirmPasswordInput.value;
        const alpha = /[a-zA-Z]/;
        const digit = /\d/;


        if (passwordValue.length < 8) {
            passwordError.style.display = "block";
            passwordError.innerHTML = "Should contain at least 8 characters";
            isValid = false;
        } else if (!alpha.test(passwordValue) || !digit.test(passwordValue)) {
            passwordError.style.display = "block";
            passwordError.innerHTML = "Password should contain letters and numbers";
            isValid = false;
        } else {
            passwordError.style.display = "none";
            passwordError.innerHTML = "";
        }

        if (confirmPasswordValue === '') {
            confirmPasswordError.style.display = "block";
            confirmPasswordError.innerHTML = "Please confirm your password";
            isValid = false;
        } else if (passwordValue !== confirmPasswordValue) {
            confirmPasswordError.style.display = "block";
            confirmPasswordError.innerHTML = "Passwords do not match";
            isValid = false;
        } else {
            confirmPasswordError.style.display = "none";
            confirmPasswordError.innerHTML = "";
        }

        return isValid;
    }
    
    
    
forgotForm.addEventListener("submit", function (e) {
    e.preventDefault();

    const isFormValid = validatePassword();

    if (isFormValid) {
        const passwordValue = passwordInput.value;
        fetch('/resetpass', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json' 
            },
            body: JSON.stringify({
                password: passwordValue 
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json()
        })
        .then(data => {
            console.log('Server response:', data);
            Swal.fire({
                title: 'Success!',
                text: 'Your password has been changed.',
                icon: 'success'
            }).then(() => {
                forgotForm.reset();
                window.location.replace('/login')
            });
        })
        .catch(error => {
            
            console.error('Fetch Error:', error);
            Swal.fire({
                title: 'Error!',
                text: 'Could not change password. Please try again.',
                icon: 'error'
            });
        });
    }
})
    passwordInput.addEventListener('input', validatePassword)
    confirmPasswordInput.addEventListener('input', validatePassword)
})
</script>